
#btna_container{
	border:1px solid darkgrey;
	padding:30px;
	display:flex;
	justify-content:space-evenly;
}

.btn_container{
	padding:10px 10px;
}

.pri_btn{
	padding: 10px 15px;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
    border: none;
	cursor:default;
	text-decoration: none;
}

.sec_btn{
	color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #6c757e;
    border: none;
	cursor:default;
	text-decoration: none;
}

.suc_btn{
	padding: 10px 15px;
    color: #fff;
    background-color: #158754;
    border-radius: 5px;
    border: none;
	cursor:default;
	text-decoration: none;
}

.dan_btn{
	color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #d93545;
    border: none;
	cursor:default;
	text-decoration: none;
}

.war_btn{
	color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fec203;
    border: none;
	cursor:default;
	text-decoration: none;
}

.info_btn{
	color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #06caea;
    border: none;
	cursor:default;
	text-decoration: none;
}

.light_btn{
	color: #676769;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: none;
	cursor:default;
	text-decoration: none;
}

.dark_btn{
	color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #1f2528;
    border: none;
	cursor:default;
	text-decoration: none;
}



.link_btn{
	border: none;
    background-color: #fff;
    text-decoration: underline;
    cursor: pointer;
    color: #00e;
}

